pytest
pytest-cov
moto
mkdocs-material
mkdocstrings
python-dotenv
dynamodb-json
aws-lambda-powertools[pydantic]
aws-cdk.core
aws-cdk.aws-lambda
aws-cdk.aws-lambda-event-sources
aws-cdk.aws-logs
aws-cdk.aws-events
aws-cdk.aws-events-targets
aws-cdk.aws-dynamodb
aws-cdk.aws-apigatewayv2
aws-cdk.aws-apigatewayv2-integrations